NEXT_PUBLIC_SERVER_URI = "http://localhost:8000/api/v1/"

NEXT_PUBLIC_SOCKET_SERVER_URI = "http://localhost:8000"

NEXT_PUBLIC_VDOCIPHER_PLAYER_ID =

GOOGLE_CLIENT_ID =

GOOGLE_CLIENT_SECRET =

GITHUB_CLIENT_ID =

GITHUB_CLIENT_SECRET =

SECRET =Global_Learning_Platform

NEXTAUTH_SECRET=token_generated

NEXT_PUBLIC_AWS_ACCESS_KEY =

NEXT_PUBLIC_AWS_SECRET_KEY = 