DB_URL =
DJANGO_SECRET_KEY = 'aksdfjklasjdfkljasdfjlasdk;jfl;'
DJANGO_DEBUG = 'True'

AWS_ACCESS_KEY =
AWS_SECRET_ACCESS_KEY =

DEEPL_API_KEY =
ELEVENLABS_API_KEY =

VDOCIPHER_API_SECRET =

BACKEND_URL = 'http://localhost:8000'

OPENAI_API_KEY =

TYPE = "service_account"
PROJECT_ID = "globallearn"
PRIVATE_KEY_ID = 
PRIVATE_KEY =
CLIENT_EMAIL =
CLIENT_ID =
AUTH_URI =
TOKEN_URI =
AUTH_PROVIDER_X509_CERT_URL =
CLIENT_X509_CERT_URL =