asgiref==3.8.1
Django==4.2
djangorestframework==3.15.1
sqlparse==0.4.4
tzdata==2024.1
google-cloud-texttospeech
google_api_python_client
google_auth_oauthlib
pydub
pyrubberband
ffprobe-python
langcodes
language_data
numpy
deepl
regex
soundfile>=0.12.1
aiohttp
