PORT = 8000

FRONTEND_URL = http://localhost:3000

AI_SERVER_URL = http://localhost:5000

NODE_ENV = development

DB_URL =

CLOUD_NAME =

CLOUD_API_KEY =

CLOUD_SECRET_KEY =

REDIS_URL =

ACTIVATION_SECRET =

ACCESS_TOKEN =

REFRESH_TOKEN =

ACCESS_TOKEN_EXPIRY =

REFRESH_TOKEN_EXPIRY =

SMTP_HOST =smtp.gmail.com

SMTP_PORT =465

SMTP_SERVICE =gmail

SMTP_MAIL = xyz@gmail.com

SMTP_PASSWORD =

VDOCIPHER_API_SECRET =

STRIPE_SECRET_KEY =

STRIPE_PUBLISHABLE_KEY =

AWS_ACCESS_KEY =

AWS_SECRET_KEY =