<!DOCTYPE html>
<html>
  <body>
    <div>
      <div>
        <h1>Hello <%= user.name %></h1>
        <p>Please verify your email address with following activationCode</p>
      </div>
      <h2><%= activationCode %></h2>
      <p>Thanks for registering.</p>
    </div>
  </body>
</html>
