<!DOCTYPE html>
<html>
  <body>
    <div>
      <div>
        <h1>Hello </h1>
        <p>
            Your order has been confirmed. Your order #<%= order._id %> on date : <%= order.date %>
        </p>
        <p>
            name: <%= order.name %>
            <br\>
            price : <%= order.price %>
            <br\>

        </p>
      </div>
    </div>
  </body>
</html>
