<!DOCTYPE html>
<html>
  <body>
    <div>
      <div>
        <h1>Hello <%= user.name %></h1>
        <p>
          A new reply has been added to your question in the video <%= title%>
        </p>
      </div>
    </div>
  </body>
</html>
